<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/Fasticon-Avartar-Girls-Girl-8.ico" rel="icon">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <title>Rita Chat: {{ title }}</title>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <script type="text/javascript" charset="utf-8">
           document.addEventListener('DOMContentLoaded', () => {

                document.querySelector('#closeThisWindow').addEventListener("click", function() {
                   window.close();;
                });


           });
        </script>

    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border" id="navBar">
            <a class="navbar-brand" href="/"><span style="font-weight:bold"><span class="text-primary">R</span><span class="text-danger">I</span><span style="color:gold">T</span><span class="text-success">A</span> <span class="text-danger">Chats</span></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                {% if name and name != ""  %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item">Welcome, <span id="thisUser">{{ name }}</span> to Room {{ room }}</li>
                    </ul>
                {% endif %}
            </div>


        </nav>


        {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
              {% for category, message in messages %}
                 <ul style="list-style-type: none;">
                    <li><img src="/static/images/{{category}}_15.png"> {{ message | safe }}</li>
                 </ul>
              {% endfor %}
           {% endif %}
        {% endwith %}

    <div class="container-fluid pt-3">

        <div class="col-sm-12">

        Your email has been sent to the following recipients:<br>
        To:  {{ toNames }}<br>
        Emails: {{ toEmails }}<br>

        <br>
        <h6><small>Please <span id="closeThisWindow" style="cursor:pointer; color:blue;">close</span> this window to chat.</small></h6>

        </div>

    </div>

    </body>
<head>