<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/Fasticon-Avartar-Girls-Girl-8.ico" rel="icon">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">


        <title>Rita Chat: {{ title }}</title>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script id="post" type="text/x-handlebars-template">
            <div class="polaroid">
                {% raw -%}
                    <span class="{{ vClass }}">{{ who }}:</span> <span class="content">{{ contents }}</span>
                {%- endraw %}
            </div>
        </script>



        <script type="text/javascript" charset="utf-8">
            var socket;
            var room;

            document.addEventListener('DOMContentLoaded', () => {
                //socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/chat');



                socket.on('connect', function() {
                    socket.emit('joined', {});

                    // Join room
                    //socket.emit('join', {'username': username, 'room': room});

                    var savedRoomsString = localStorage.getItem('savedRooms')

                    var savedRooms = ""
                    if (savedRoomsString) {
                       savedRooms = savedRoomsString.split("~");
                    }

                    room = '{{ room }}'

                    var str='';

                    if (savedRooms) {
                       str += '<h4>Rooms</h4>'
                       for(let i=0; i<savedRooms.length; i++) {
                             oneStr = '<p id="' + savedRooms[i].replace(/ /gi, "_") + '" class="select-room cursor-pointer">' + savedRooms[i] + '</p>';
                             str += oneStr
                             //alert(oneStr)
                       }
                    }

 		            var allRoomsList=document.getElementById("sidebar");
                    allRoomsList.innerHTML = str;


                    // Highlight selected room
                    document.querySelector('#' + CSS.escape(room)).style.color = "#ffc107";
                    document.querySelector('#' + CSS.escape(room)).style.backgroundColor = "white";

                    if (savedRooms) {
                       for(let i=0; i<savedRooms.length; i++) {
                          var handle = "#" + savedRooms[i].replace(/ /gi, "_");
                          document.querySelector(handle).addEventListener("click", function() {
                             //alert("1) You clicked paragraph " + savedRooms[i].replace(/_/gi, " "))

                        newRoom = savedRooms[i].replace(/_/gi, " ")
                        if (newRoom === room) {
                            msg = 'You are already in ${room} room.';
                            add_post('System',  msg, 'system')
                            printSysMsg(msg);
                        } else {
                            leaveRoom(room);
                            joinRoom(newRoom);
                            room = newRoom;
                        }


                          })
                       }
                    }


                    // Clear message area
                    document.querySelector('#posts').innerHTML = '';

                    // Autofocus on text box
                    document.querySelector("#text").focus();



                    bodyHeight = document.body.offsetHeight
                    windowHeight = window.innerHeight
                    navBarHeight = document.querySelector('#navBar').offsetHeight
                    //introHeight = document.querySelector('#intro').offsetHeight
                    introHeight = 0
                    textHeight = document.querySelector('#text').offsetHeight
                    buttonHeight = document.querySelector('#leaveRoomButtonDiv').offsetHeight

                    console.log("Height of the HTML body =" + bodyHeight);
                    console.log("Window height =" + windowHeight);
                    console.log("navBar Height =" + navBarHeight);
                    //console.log("intro Height =" + introHeight);
                    console.log("text Height =" + textHeight);
                    console.log("button Height =" + buttonHeight);
                    // The 30 in the equation is for the post padding and margin
                    postsHeight = windowHeight - (navBarHeight + introHeight + textHeight + buttonHeight + 30)
                    console.log("posts Height =" + postsHeight);
                    document.querySelector('div#posts').style.height= postsHeight;
                    document.querySelector('div#posts').style.minHeight= postsHeight;
                    document.querySelector('div#posts').style.maxHeight= postsHeight;
                    console.log("Set id posts height to " + postsHeight)


                });  /* socket.on('connect', function() */


                socket.on('status', data => {

                    /*
                    alert("data.msg = " + data.msg)
                    alert("data.sender = " + data.sender)
                    alert("data.vClass = " + data.vClass)

                    */


                    /*
                    document.querySelector('#chat').value = document.querySelector('#chat').value + data.msg + '\n'
                    var y = document.querySelector('#chat').scrollHeight;
                    document.querySelector('#chat').scrollTop = document.querySelector('#chat').scrollTop + y
                    */
                    //alert("The session id is " + socket.id)

                    if (data.thisEvent == 'joined') {
                       dingdong()
                    } else {
                       playSystemAlert()
                    }

                    add_post(data.sender,  data.msg, data.vClass)

                    var y = document.querySelector('#posts').scrollHeight;
                    document.querySelector('#posts').scrollTop = document.querySelector('#posts').scrollTop + y

                });  /*  socket.on('status' */


                socket.on('message', data => {
                    /*
                    document.querySelector('#chat').value = document.querySelector('#chat').value + data.thisUser + ":  " + data.msg + '\n'
                    var y = document.querySelector('#chat').scrollHeight;
                    document.querySelector('#chat').scrollTop = document.querySelector('#chat').scrollTop + y
                    */

                    //alert("the server senders id is  " + data.sid + "; the client socket id is " + socket.id)



                    if (data.sid == socket.id) {
                       ding()
                       add_post(data.thisUser,  data.msg, "sender")
                    } else {
                       beep()
                       add_post(data.thisUser,  data.msg, "receiver")
                    }

                    var y = document.querySelector('#posts').scrollHeight;
                    document.querySelector('#posts').scrollTop = document.querySelector('#posts').scrollTop + y



                });  /* socket.on('message' */



                // Trigger 'leave' event if user was previously on a room
                function leaveRoom(room) {
                    //socket.emit('leave', {'username': username, 'room': room});

                    socket.emit('left', {'room': room});
                    document.querySelectorAll('.select-room').forEach(p => {
                        p.style.color = "black";
                    });
                } /* leaveRoom(room)  */


                // Trigger 'join' event
                function joinRoom(room) {

                    // Highlight selected room
                    document.querySelector('#' + CSS.escape(room.replace(/ /gi, "_"))).style.color = "#ffc107";
                    document.querySelector('#' + CSS.escape(room.replace(/ /gi, "_"))).style.backgroundColor = "white";

                    // Clear message area
                    //document.querySelector('#posts').innerHTML = '';

                    // Autofocus on text box
                    document.querySelector("#text").focus();

                    // Join room
                    socket.emit('join', {'room': room});
                }




                document.querySelector('#text').addEventListener("keydown", function(e) {
                   var code = e.keyCode || e.which;
                   if (code == 13) {
                      if (document.querySelector('#text').value.length > 0) {
                         text = document.querySelector('#text').value
                         document.querySelector('#text').value = ""
                         socket.emit('text', {msg: text});
                      }
                   }
                });


                document.querySelector('#leaveRoomButton').addEventListener("click", function() {
                   leave_room();
                });



               /*
               add_post('rita',  'this is post 1', 'sender')
               add_post('sammy', 'this is post 2', 'receiver')
               add_post('shani', 'this is post 3', 'receiver')
               add_post('system', 'this is post 3', 'system')
               */


                // Select a room
                document.querySelectorAll('.select-room').forEach(p => {
                    alert("function to add click event to rooms")
                    p.onclick = () => {
                        alert("You clicked room " +  p.innerHTML)
                        let newRoom = p.innerHTML
                        // Check if user already in the room
                        if (newRoom === room) {
                            msg = 'You are already in ${room} room.';
                            add_post('System',  msg, 'system')
                            printSysMsg(msg);
                        } else {
                            leaveRoom(room);
                            joinRoom(newRoom);
                            room = newRoom;
                        }
                    };
                });   /* querySelectorAll('.select-room')  */



            });

            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }

            const post_template = Handlebars.compile(document.querySelector('#post').innerHTML);
            function add_post(who, contents, vClass) {

                // Create new post."
                const post = post_template({'who': who, 'contents': contents, "vClass": vClass});

                // Add post to DOM.
                document.querySelector('#posts').innerHTML += post;
            }

    function ding() {
        //var sound = new Audio("/static/chime_up.wav");
        //var sound = new Audio("/static/gong_02.wav");
        var sound = new Audio("{{ url_for('static', filename='sounds/gong_02.wav') }}")
        sound.play();
    }


    function beep() {
       //var sound = new Audio("/static/chime_down.wav");
       //var sound = new Audio("/static/gong_04.wav");
       var sound = new Audio("{{ url_for('static', filename='sounds/gong_04.wav') }}")
       sound.play()

    }

    function playSystemAlert() {
       //var sound = new Audio("/static/4_tone_chime_down.wav");
       var sound = new Audio("{{ url_for('static', filename='sounds/4_tone_chime_down.wav') }}")
       sound.play()
    }

    function dingdong() {
       //var sound = new Audio("/static/dingDong.mp3");
       var sound = new Audio("{{ url_for('static', filename='sounds/dingDong.mp3') }}")
       sound.play()
    }



        </script>










        <!--- See this https://www.youtube.com/watch?v=zQDzNNt6xd4 --->


    </head>


    <body>



        <nav class="navbar navbar-expand-md navbar-light bg-light border" id="navBar">

                 <div class="container-fluid">
                      <div id="show-sidebar-button" class="cursor-pointer">
                          <i class="fas fa-plus-circle "></i>
                          <span>Rooms</span>
                      </div>


            <span style="font-weight:bold"><span class="text-primary">R</span><span class="text-danger">I</span><span style="color:gold">T</span><span class="text-success">A</span> <span class="text-danger">Chats</span></span>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                {% if name and name != ""  %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <span class="nav-item"><h6><small>Welcome, <span id="thisUser">{{ name }}</span> <a href="{{ url_for('email.invite_to_chat') }}" target="_blank">invite a friend to chat</a></small></h6></span>
                        <!-- <span><h6 id="intro">Room: {{ room }} <small><a href="{{ url_for('email.invite_to_chat') }}" target="_blank">invite a friend to chat</a></small></h6></span> -->
                    </ul>
                {% endif %}
            </div>

            </div>
        </nav>






            <!-- Main section start -->
            <div style="width: 100%;">

                <!-- Sidebar start -->
                <nav id="sidebar">
                    <!--
                    <h4>Rooms</h4>
                    {# for room in rooms #}
                        <p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
                    {# endfor #}
                    -->
                </nav>
                <!-- Sidebar end -->


                <!-- Rightside pannel start -->
                <div id="rightside-pannel" >


        <!-- <span><h6 id="intro">Room: {{ room }} <small><a href="{{ url_for('email.invite_to_chat') }}" target="_blank">invite a friend to chat</a></small></h6></span> -->


                <div id="posts" class="scroll">
		        </div>


        <!--- <textarea style="padding-left:10px" id="chat" cols="80" rows="12" readonly></textarea><br><br> --->



        <input id="text" style="width:800;" maxlength="75" placeholder="Enter your message here">

        <!--- <a href="#" onclick="leave_room();">Leave this room</a> --->

        <div id="leaveRoomButtonDiv" style="padding-top:10px">
        <input type="button" class="myButton" id="leaveRoomButton" name="leaveRoomButton" value="Disconnect">
        </div>

                </div>
                <!-- Rightside pannel end -->
            </div>
            <!-- Main section end -->







    </body>





</html>