<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Chat  - {{ name }} {{ room }}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="/static/Fasticon-Avartar-Girls-Girl-8.ico" rel="icon">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">



        <script type="text/javascript" charset="utf-8">
            var socket;

            document.addEventListener('DOMContentLoaded', () => {
                //socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/chat');



                socket.on('connect', function() {
                    socket.emit('joined', {});

              var savedRoomsString = localStorage.getItem('savedRooms')

              var savedRooms = ""
              if (savedRoomsString) {
                 savedRooms = savedRoomsString.split("~");
              }

              var room = '{{ room }}'

              var str='';

              if (savedRooms) {
                 str += '<h4>Rooms</h4>'
                 for(let i=0; i<savedRooms.length; i++) {
                       str += '<p id="' + savedRooms[i] + '" class="select-room cursor-pointer">' + savedRooms[i] + '</p>';

                 }

              }

 		      var allRoomsList=document.getElementById("sidebar");
              allRoomsList.innerHTML = str;



        // Highlight selected room
        document.querySelector('#' + CSS.escape(room)).style.color = "#ffc107";
        document.querySelector('#' + CSS.escape(room)).style.backgroundColor = "white";


        // Clear message area
        document.querySelector('#display-message-section').innerHTML = '';

        // Autofocus on text box
        document.querySelector("#text").focus();


                    /*
                    bodyHeight = document.body.offsetHeight
                    windowHeight = window.innerHeight
                    navBarHeight = document.querySelector('#navBar').offsetHeight
                    introHeight = document.querySelector('#intro').offsetHeight
                    textHeight = document.querySelector('#text').offsetHeight
                    buttonHeight = document.querySelector('#leaveRoomButtonDiv').offsetHeight

                    console.log("Height of the HTML body =" + bodyHeight);
                    console.log("Window height =" + windowHeight);
                    console.log("navBar Height =" + navBarHeight);
                    console.log("intro Height =" + introHeight);
                    console.log("text Height =" + textHeight);
                    console.log("button Height =" + buttonHeight);
                    // The 30 in the equation is for the post padding and margin
                    postsHeight = windowHeight - (navBarHeight + introHeight + textHeight + buttonHeight + 30)
                    console.log("posts Height =" + postsHeight);
                    document.querySelector('div#posts').style.height= postsHeight;
                    document.querySelector('div#posts').style.minHeight= postsHeight;
                    document.querySelector('div#posts').style.maxHeight= postsHeight;
                    console.log("Set id posts height to " + postsHeight)
                    */

                });


                socket.on('status', data => {

                   /*
                   alert("data.msg = " + data.msg)
                   alert("data.sender = " + data.sender)
                   alert("data.vClass = " + data.vClass)
                   */


                   /*
                   document.querySelector('#chat').value = document.querySelector('#chat').value + data.msg + '\n'
                   var y = document.querySelector('#chat').scrollHeight;
                   document.querySelector('#chat').scrollTop = document.querySelector('#chat').scrollTop + y
                   */
                   //alert("The session id is " + socket.id)

                   if (data.thisEvent == 'joined') {
                      dingdong()
                   } else {
                      playSystemAlert()
                   }

                   /*
                   add_post(data.sender,  data.msg, data.vClass)

                   var y = document.querySelector('#posts').scrollHeight;
                   document.querySelector('#posts').scrollTop = document.querySelector('#posts').scrollTop + y
                   */

                });


                socket.on('message', data => {


                   /*
                   document.querySelector('#chat').value = document.querySelector('#chat').value + data.thisUser + ":  " + data.msg + '\n'
                   var y = document.querySelector('#chat').scrollHeight;
                   document.querySelector('#chat').scrollTop = document.querySelector('#chat').scrollTop + y
                   */

                   //alert("the server senders id is  " + data.sid + "; the client socket id is " + socket.id)



                   if (data.sid == socket.id) {

                      ding()
                      add_post(data.thisUser,  data.msg, "sender")
                   } else {
                      beep()
                      add_post(data.thisUser,  data.msg, "receiver")
                   }

                   var y = document.querySelector('#posts').scrollHeight;
                   document.querySelector('#posts').scrollTop = document.querySelector('#posts').scrollTop + y



                });

                // Make sidebar collapse on click
                document.querySelector('#show-sidebar-button').onclick = () => {
                    document.querySelector('#sidebar').classList.toggle('view-sidebar');
                };



                document.querySelector('#text').addEventListener("keydown", function(e) {
                  if (document.querySelector('#text').value.length > 0) {
                    document.querySelector('#send_message').disabled=false
                  }
                  else {
                      document.querySelector('#send_message').disabled=true
                  }
                   var code = e.keyCode || e.which;
                   if (code == 13) {
                      if (document.querySelector('#text').value.length > 0) {
                         text = document.querySelector('#text').value
                         document.querySelector('#text').value = ""
                         socket.emit('text', {msg: text});
                      }
                   }
                });

                document.querySelector('#send_message').addEventListener("click", function(e) {
                      if (document.querySelector('#text').value.length > 0) {
                         text = document.querySelector('#text').value
                         document.querySelector('#text').value = ""
                         socket.emit('text', {msg: text});
                   }


                });

                /*
                document.querySelector('#leaveRoomButton').addEventListener("click", function() {
                   leave_room();
                });
                */


               /*
               add_post('rita',  'this is post 1', 'sender')
               add_post('sammy', 'this is post 2', 'receiver')
               add_post('shani', 'this is post 3', 'receiver')
               add_post('system', 'this is post 3', 'system')
               */




            });

            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }

            /*
            const post_template = Handlebars.compile(document.querySelector('#post').innerHTML);
            function add_post(who, contents, vClass) {

                // Create new post."
                const post = post_template({'who': who, 'contents': contents, "vClass": vClass});

                // Add post to DOM.
                document.querySelector('#posts').innerHTML += post;
            }
            */

    function ding() {
        var sound = new Audio("/static/chime_up.wav");
        sound.play();
    }

    function beep() {
       var sound = new Audio("/static/chime_down.wav");
       //var sound = new Audio("/static/gong_04.wav");
       sound.play()

    }

    function playSystemAlert() {
       var sound = new Audio("/static/4_tone_chime_down.wav");
       sound.play()
    }

    function dingdong() {
       var sound = new Audio("/static/dingDong.mp3");
       sound.play()
    }



        </script>









    </head>

    <body>






        <div class="wrapper">

            <!-- Nav bar start -->

              <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">

                  <div class="container-fluid">
                      <div id="show-sidebar-button" class="cursor-pointer">
                          <i class="fas fa-plus-circle "></i>
                          <span>Rooms</span>
                      </div>

                      <span style="font-weight:bold"><span class="text-primary">R</span><span class="text-danger">I</span><span style="color:gold">T</span><span class="text-success">A</span> <span class="text-danger">Chats</span></span>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                  {# <a id="logout-btn" class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a> #}
                                  <input type="button" class="myButton" id="leaveRoomButton" name="leaveRoomButton" value="Leave This Room">
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>

              <!-- Nav bar end -->

            <!--
            <nav class="navbar navbar-expand-md navbar-light bg-light border" id="navBar">
                <a class="navbar-brand" href="/"><span style="font-weight:bold"><span class="text-primary">R</span><span class="text-danger">I</span><span style="color:gold">T</span><span class="text-success">A</span> <span class="text-danger">Chats</span></span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    {% if name and name != ""  %}
                        <ul class="navbar-nav ml-auto mt-2">
                            <li class="nav-item">Welcome, <span id="thisUser">{{ name }}</span> to Room {{ room }}</li>
                        </ul>
                    {% endif %}
                </div>


            </nav>
            -->




            <!-- Main section start -->
            <div id="main-section">

                <!-- Sidebar start -->
                <nav id="sidebar">
                    <!--
                    <h4>Rooms</h4>
                    {# for room in rooms #}
                        <p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
                    {# endfor #}
                    -->
                </nav>
                <!-- Sidebar end -->

                <!-- Rightside pannel start -->
                <div id="rightside-pannel">

                    <!-- Display message start-->
                    <div id="display-message-section">
                    </div>
                    <!-- Display message end -->

                    <!-- Type message start -->
                   <div id="input-area" class="input-group mb-3">
                       <!--
                        <input type="text" id="user_message" class="form-control" placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button id="send_message" class="btn btn-warning" type="button">SEND <i class="fas fa-paper-plane"></i></button>
                        </div>
                        --->

                        <input type="text" id="text" class="form-control" placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button id="send_message" class="btn btn-warning" type="button">SEND <i class="fas fa-paper-plane"></i></button>
                        </div>


                    </div>
                    <!-- Type message end -->
                </div>
                <!-- Rightside pannel end -->
            </div>
            <!-- Main section end -->
        </div>
        <!-- Wrapper end -->

        <!-- Get username -->
        <span id="get-username">{{ username }}</span>

        <!-- Custom chat JS -->
        <!-- <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script> -->

        <!-- SocketIO JS -->
        <!--  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->

        <!-- Custom SocketIO JS -->
        <!-- <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script> -->

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    </body>
</html>
